<div class="atut-card item"  data-item-id="{{id}}">
    <div class="atut-name" data-field="name">
        <a class="item-click item-context removable printable" data-item-id="{{id}}" title="{{localize 'wolsung.contextMenu.edit'}}">{{name}}</a>
    </div>
    <div class="atut-opis">
        <p>{{cleartext data.data.opis}}</p>
    </div>
</div>