<a class="blizna-card item-click item-context removable printable item" data-item-id="{{id}}" title="{{localize 'wolsung.contextMenu.edit'}}">
    <b>{{name}}:</b> +3 {{ localizeCFG 'listaUmiejetnosci' data.data.bonus}}, -3 {{ localizeCFG 'listaUmiejetnosci' data.data.kara }}
</a>