<div class="archetypy-karty">
    <div class="archetypy">
        <div class="archetyp tl">
            <h3>♠ {{localize "wolsung.karta.pik.name"}} ♠</h3>
            <span><b>{{data.karta.pik.name}}</b>{{data.karta.pik.desc}}</span>
        </div>
        <div class="archetyp tr">
            <h3>♥ {{localize "wolsung.karta.kier.name"}} ♥</h3>
            <span><b>{{data.karta.kier.name}}</b>{{data.karta.kier.desc}}</span>
        </div>
        <div class="archetyp bl">
            <h3>♦ {{localize "wolsung.karta.karo.name"}} ♦</h3>
            <span><b>{{data.karta.karo.name}}</b>{{data.karta.karo.desc}}</span>
        </div>
        <div class="archetyp br">
            <h3>♣ {{localize "wolsung.karta.trefl.name"}} ♣</h3>
            <span><b>{{data.karta.trefl.name}}</b>{{data.karta.trefl.desc}}</span>
        </div>
    </div>
    <div class="karty">
        <table>
            <tr>
                <th>{{localize "wolsung.karta.tabela.karta"}}</th>
                <th>{{localize "wolsung.karta.tabela.st"}} 10</th>
                <th>{{localize "wolsung.karta.tabela.st"}} 15</th>
                <th>{{localize "wolsung.karta.tabela.st"}} 20</th>
                <th>{{localize "wolsung.karta.tabela.st"}} 30</th>
                <th>{{localize "wolsung.karta.tabela.st"}} 50</th>
            </tr>
            <tr>
                <th>2 {{localize "wolsung.karta.tabela.do"}} 10</th>
                <td>{{localize "wolsung.karta.tabela.sukces"}}</td>
                <td>+3</td>
                <td>+3</td>
                <td>+3</td>
                <td>+3</td>
            </tr>
            <tr>
                <th>{{localize "wolsung.karta.tabela.wdk"}}</th>
                <td>{{localize "wolsung.karta.tabela.podbicie"}}</td>
                <td>{{localize "wolsung.karta.tabela.sukces"}}</td>
                <td>+4</td>
                <td>+4</td>
                <td>+4</td>
            </tr>
            <tr>
                <th>{{localize "wolsung.karta.tabela.as"}}</th>
                <td>{{localize "wolsung.karta.tabela.podbicie"}}</td>
                <td>{{localize "wolsung.karta.tabela.podbicie"}}</td>
                <td>{{localize "wolsung.karta.tabela.sukces"}}</td>
                <td>+5</td>
                <td>+5</td>
            </tr>
            <tr>
                <th>{{localize "wolsung.karta.tabela.joker"}}</th>
                <td>{{localize "wolsung.karta.tabela.podbicie"}}</td>
                <td>{{localize "wolsung.karta.tabela.podbicie"}}</td>
                <td>{{localize "wolsung.karta.tabela.podbicie"}}</td>
                <td>{{localize "wolsung.karta.tabela.sukces"}}</td>
                <td>+10</td>
            </tr>
        </table>
    </div>
</div>