<div class="gadzet-card item" data-itemid="{{id}}">
    <div class="gadzet-name" data-field="name">
        <a class="item-click item-context removable printable" data-itemid="{{id}}" title="{{localize 'wolsung.contextMenu.edit'}}">{{name}}</a>
    </div>
    <div class="gadzet-cechy">
        <p>{{cleartext data.data.cechy}}</p>
    </div>
</div>