<div class="magia-card item" data-itemid="{{id}}">
    <div class="magia-name" data-field="name">
        <a class="item-edit removeble" data-itemid="{{id}}" title="{{localize 'wolsung.contextMenu.edit'}}">{{name}}</a>
    </div>
    <div class="magia-cechy">
        <p><b>{{localize "wolsung.moc.efekt"}}</b></p>
        <p>{{cleartext data.data.efekt}}</p>
        <p><b>{{localize "wolsung.moc.karta"}}</b></p>
        <p>{{cleartext data.data.karta}}</p>
        <p><b>{{localize "wolsung.moc.bonus"}}</b></p>
        <p>{{cleartext data.data.bonus}}</p>
    </div>
</div>