<div class="umiejetnosc-card item" data-item-id="{{id}}">
    <a class="obsada-roll item-context removable" data-item-id="{{id}}"><i class="fas fa-dice"></i></a>
    <input class="inline-edit" data-field="name" data-item-id = "{{id}}" name="item.name" type="text" value="{{name}}"/>
    <input class="inline-edit number" data-field="data.podstawa" data-item-id = "{{id}}" name="item.data.data.podstawa" type="text" value="{{data.data.podstawa}}" data-dtype="Number"/>
    <span>/</span>
    <input class="inline-edit number" data-field="data.przerzut" data-item-id = "{{id}}" name="item.data.data.przerzut" type="text" value="{{data.data.przerzut}}" data-dtype="Number"/>
    <span>+</span>
</div>