<div class="magia-card item"  data-item-id="{{id}}">
    <div class="magia-name" data-field="name">
        <a class="item-click item-context removable printable" data-item-id="{{id}}" title="{{localize 'wolsung.contextMenu.edit'}}">{{name}}</a>
    </div>
    <div class="magia-cechy">
        <p><b>{{localize "wolsung.zaklecie.wymagania"}}</b></p>
        <p>{{cleartext data.data.wymagania}}</p>
        <p><b>{{localize "wolsung.zaklecie.efekty"}}</b></p>
        <p>{{cleartext data.data.efekty}}</p>
    </div>
</div>