<form class="{{cssClass}}" autocomplete="off">
    <div class="hand-content">
        <div class="zetony">
            {{#each zetony as |zeton|}}
                <div class="zeton reveal">
                    <img src="{{zeton.img}}" alt="{{localize zeton.name}}" height="100px" width="100px">
                    {{#if (cardsVisibility hasPlayerOwner)}}
                    <div class="zeton-details hidden details">
                            <a class="button use-zeton" data-cardid="{{zeton.id}}">{{localize "wolsung.cards.hand.uzyj"}}</a>
                            <a class="button draw-cards" data-cardid="{{zeton.id}}">{{localize "wolsung.cards.hand.dobierz"}}</a>
                    </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
        <section class="karty item-list">
            {{#each wolsungCards as |card|}}
                {{#if (cardsVisibility hasPlayerOwner)}}
                <a class="karta-active karta item" data-cardid="{{card.id}}" title="{{cardDetails card}}">
                    <img src="{{card.img}}" alt="{{localize card.name}}" height="{{cardHeight}}" width="{{cardWidth card.data.height card.data.width}}">
                </a>
                {{else}}
                <img class="karta" src="{{card.backImg}}" alt="{{localize 'wolsung.cards.name'}}" height="{{cardHeight}}" width="{{cardWidth card.data.height card.data.width}}">
                {{/if}}
            {{/each}}
        </section>
    </div>
</form>