<form class="{{cssClass}}" autocomplete="off">
    <div class="hand-content">
        <div class="zetony">
            {{#each zetony as |zeton|}}
                <div class="zeton reveal">
                    <img src="{{zeton.img}}" alt="{{localize zeton.name}}" height="100px" width="100px">
                    <div class="zeton-details hidden details">
                            <a class="button use-zeton" data-cardid="{{zeton.id}}">{{localize "wolsung.cards.hand.uzyj"}}</a>
                            <a class="button draw-cards" data-cardid="{{zeton.id}}">{{localize "wolsung.cards.hand.dobierz"}}</a>
                    </div>
                </div>
            {{/each}}
        </div>
        <section class="karty">
            {{#each wolsungCards as |card|}}
                <div class="karta reveal">
                    <img class="karta-background"" src="{{card.img}}" alt="{{localize card.name}}" height="{{cardHeight}}" width="{{cardWidth card.data.height card.data.width}}">
                    <div class="karta-details hidden details" style="height: {{cardHeight}}; width: {{cardWidth card.data.height card.data.width}};">
                        <div class="karta-buttons">
                            <a class="button use-card" data-cardid="{{card.id}}">{{localize "wolsung.cards.hand.uzyj"}}</a>
                            <a class="button discard-card" data-cardid="{{card.id}}">{{localize "wolsung.cards.hand.odrzuc"}}</a>
                        </div>
                        <div class="karta-opis">
                            <h3>{{localize "wolsung.cards.hand.bonus"}}{{card.data.data.testBonus}}</h3>
                            <h3>{{localize "wolsung.cards.hand.sukces"}}{{card.data.data.st}}</h3>
                        </div>
                    </div>
                </div>
            {{/each}}
        </section>
    </div>
</form>