<div class="hand-mini-bar-card card {{cardType card}}" style="background-image:url('{{img}}')" title="{{localize name}}
{{cardDetails card}}" data-card-id="{{id}}" data-img="{{img}}" draggable="true">
</div>
