<div class="item-chat flexcol">
    <div class="flexrow">
        <img class="icon" src="{{img}}" title="{{name}}"/>
        <h3>{{name}}</h3>
    </div>
    <p><b>{{localize "wolsung.opisString"}}</b> {{cleartext data.opis}}</p>
    <p><b>{{localize "wolsung.gadzet.cechy"}}</b> {{cleartext data.cechy}}</p>
</div>