<form>
    <div class="form-group">
        <label>{{localize "wolsung.chat.konfrontacja.typ"}}</label>
        <select name="typ">
            <option value="krz">{{localize "wolsung.chat.konfrontacja.walka"}}</option>
            <option value="zr">{{localize "wolsung.chat.konfrontacja.poscig"}}</option>
            <option value="op">{{localize "wolsung.chat.konfrontacja.dyskusja"}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "wolsung.chat.konfrontacja.vabanque"}}</label>
        <input type="checkbox" name="vabanque"/>
    </div>
</form>