<form>
    <h2>
        {{localize "wolsung.chat.prepareRoll.rzutNa"}} {{name}} {{podstawa}}/{{kosc}}+
    </h2>
    <div class="form-group">
        <label>{{localize "wolsung.chat.prepareRoll.liczbaKosci"}}</label>
        <input type="text" name="pula" value="{{pula}}" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "wolsung.chat.prepareRoll.mod"}}</label>
        <input type="text" name="mod" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "wolsung.chat.prepareRoll.przerzut"}}</label>
        <input type="text" name="kosc" value="{{kosc}}" data-dtype="Number"/>
    </div>
</form>